<html>
    <head>
        <title>GUČA FOOD - Biežāk Uzdotie Jautājumi</title>
        <link rel="icon" href="pictures/guca_food.png">
        <link rel="stylesheet" href="../css/header.css">
        <link rel="stylesheet" href="../css/body.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
    </head>
<!-- Sākās augšējas majaslapas daļa -->
<body style="margin: 0; margin-top: 7.5">
    <div class="headcolor">
        <a style="margin: 7.5;" href="../index.html">
        <img src="../pictures/guca_food.png" class="gucafood"
            width="151" height="95">
        </a>
    </div>
        <div class="container">
            <hr style="height: 55px;border:none;background-color:#62ACB5">
                <a class="centered" href="piedavajumi_lv.html" style="font-size: larger;">
                    <b>PIEDĀVĀJUMI</b></a>
                <a class="centered2" href="jautajumi.html" style="font-size: larger;">
                    <b>BIEŽĀK UZDOTIE JAUTĀJUMI</b></a>
                <a class="centered3" href="kontakti.html" style="font-size: larger">
                    <b>KONTAKTI</b></a>
                <a class="centered4" href="par_mums.html" style="font-size: larger">
                    <b>PAR MUMS</b></a>
        </div>
        <div class="bg-image">
            <div class="tab">
                <button class="tablinks" onclick="openCity(event, '1')" id="defaultOpen">Kā var pasūtīt ēdienu?</button>
                <button class="tablinks" onclick="openCity(event, '2')">Vai ir iespējams izmainīt ēdiena saturu?</button>
                <button class="tablinks" onclick="openCity(event, '3')">Vai iespējams ar 3+ ģimeneskarti iegūt atlaidi?</button>
                <button class="tablinks" onclick="openCity(event, '4')">Vai piegādes tiek veiktas visā Latvijā?</button>
                <button class="tablinks" onclick="openCity(event, '5')">Kāds ir mūsu darba laiks?</button>
                <button class="tablinks" onclick="openCity(event, '6')">Kā var samaksāt par pasūtīto ēdienu?</button>
              </div>
              
              <div id="1" class="tabcontent">
                <h3>Kā var pasūtīt ēdienu?</h3>
                <h4>Atbilde:</h4>
                <p>Šobrīd ēdienu kompānija GUČA FOOD tev, klientam, piedāvā pāsūtīt ēdienu izmantojot mūsu mājas lapas sadaļu piedāvājumi.
                  Ja tomēr neizdodās pasūtīt ēdienu lapas sadaļā piedāvājumi, tad varat droši zvanīt uz t. 256635615. </p>
              </div>
              
              <div id="2" class="tabcontent">
                <h3>Vai ir iespējams izmainīt ēdiena saturu?</h3>
                <h4>Atbilde:</h4>
                <p>Šobrīd ēdienu kompānija GUČA FOOD tev, klientam, piedāvā iespēju izmainīt sava pasūtītā ēdiena saturu.
                  Ja jums ir alerģija pret kādu izmantoto produktu, tad pasūtot ēdienu mājaslapā.
                  Komentāru sekcijā uzrakstiet, ko pavariem vajadzētu nepievienot, kad viņi gatavo jūsu ēdienu.
                  Zvanot uz t. 256635615, tad arī, kad pasūtat ēdienu pasakiet, ko pavarīem vajadzētu neievietot jūsu ēdienā. </p> 
              </div>
              
              <div id="3" class="tabcontent">
                <h3>Vai iespējams ar 3+ ģimeneskarti iegūt atlaidi?</h3>
                <h4>Atbilde:</h4>
                <p>Šobrīd ēdienu kompānija GUČA FOOD tev, klientam, nepiedāvā iegūt jebkāda tipa atlaidi. Iespējams, ka nākotnē varēs izmantot
                  3+ ģimeneskarti un iegūt atlaidi. Kā arī iespējams, ka nākotnē būs citas atlaižu kartes, piemēram, kā regulārā klienta atlaide,
                  Ziemassvētku atlaide un vēl citas. Ja šī atbilde jums nepalīdzēja, tad variet zvanīt uz t. 256635615.
                </p>
              </div>
              <div id="4" class="tabcontent">
                <h3>Vai piegādes tiek veiktas visā Latvijā?</h3>
                <h4>Atbilde:</h4>
                <p>Šobrīd ēdienu kompānija GUČA FOOD tev, klientam, piedāvā piegādāt ēdienu tikai Limbažu rajona robežās.
                  Ar papildus samaksu ēdienu kompānija GUČA FOOD spēs piegādāt ēdienu Limbažu novadā. Ja šī atbilde jums 
                  nepalīdzēja, tad variet zvanīt uz t. 256635615.
                </p>
              </div>
              <div id="5" class="tabcontent">
                <h3>Kāds ir mūsu darba laiks?</h3>
                <h4>Atbilde:</h4>
                <p>Šobrīd ēdienu kompānija GUČA FOOD tev, klientam, piedāvā ēdiena pasūtīšanas pakalpojumus tik ilgi, kamēr kafeijnīcas
                  darba laiks nav beidzies. Iespējams, ka vasara un ziemā darba laiks var atšķirties. Ja šī atbilde jums nepalīdzēja,
                   tad variet zvanīt uz t. 256635615.
                </p>
              </div>
              <div id="6" class="tabcontent">
                <h3>Kā var samaksāt par pasūtīto ēdienu?</h3>
                <h4>Atbilde:</h4>
                <p>Šobrīd ēdienu kompānija GUČA FOOD tev, klientam, piedāvā samaksāt ar karti pirms tiek pagatavots tavs
                  pasūtītais ēdiens. Ja gadijumā ir grūtības samaksāt ar karti, tad piegādēs brīdi var samaksāt ar skaidru naudu.
                  Ja šī atbilde jums nepalīdzēja, tad variet zvanīt uz t. 256635615.
                </p>
              </div>
        </div>



















        <script>
            function openCity(evt, cityName) {
              var i, tabcontent, tablinks;
              tabcontent = document.getElementsByClassName("tabcontent");
              for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
              }
              tablinks = document.getElementsByClassName("tablinks");
              for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
              }
              document.getElementById(cityName).style.display = "block";
              evt.currentTarget.className += " active";
            }
            
            // Get the element with id="defaultOpen" and click on it
            document.getElementById("defaultOpen").click();
    
            
            </script>  
</body>
</html>